<!DOCTYPE HTML>
<html>
<head>
  <meta charset='utf8'>
  <title>Edit | Countries with Universal Health Care</title>
</head>
<body>
  <h1>Edit a Country with Universal Health Care</h1>
  <form method='POST' action='/countries'>
    <input name='country[name]' placeholder='Country' />
    <input name='country[flag]' placeholder='URL of Flag Image' />
    <input name='country[capital]' placeholder='Capital' />
    <input name='country[population]' placeholder='Population' />
    <button>Edit</button>
  </form>
</body>
</html>
